body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    background-color: #737373;
    width: 100%;
}

.icons img {
    border: solid #444444 15px;
    width: 300px;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}



